<div class="card">
<% if baseball.image.attached? %>
  <%= link_to image_tag(baseball.image, class: :card__img), baseball_path(baseball.id) %> 
<% end %>
  <div class="card__body">
    <%= link_to baseball.title, baseball_path(baseball.id), class: :card__title %>
    <p class="card__summary">  
      <%= baseball.content %>
    </p>
    <div id="likes_<%= baseball.id %>">
      <%= render partial: 'likes/like', locals: { baseball: baseball } %>
    </div>
    <%= render partial: "baseballs/tag_list", locals: {tag_list: baseball.tag_list} %>
    <%= link_to baseball.user.nickname + "さんのマイページ", "/users/#{baseball.user.id}", class: :card__user %>
  </div>
</div>