<main class="main">
  <div class="inner">
    <div class="baseball__wraper">
      <p class="baseball__headding">
        <%= @baseball.title%>
      </p>
      <% if user_signed_in? && current_user.id == @baseball.user_id %>
        <div class="baseball__manage">
          <%= link_to "編集する", edit_baseball_path(@baseball.id), class: :baseball__btn %>
          <%= link_to "削除する", baseball_path(@baseball.id), method: :delete, class: :baseball__btn %>
        </div>
      <% end %>

      <div class="baseball__image">
      <% if @baseball.image.attached? %>
        <%= image_tag @baseball.image %>
      <% end %>
      </div>
      <div class="baseball__body">
        <div class="baseball__detail">
          <p class="detail__title"><p>
          <p class="detail__message">
            <%= @baseball.content%>
          </p>
        </div>
      </div>
     <div class="baseball__comments">
      <% if user_signed_in? %>
        <%= form_with model: [@baseball, @comment], method: :post, id: "form", class: :form, data: { post: @baseball.id } do |f| %>
          <div class="field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_field :text, id: "text" %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", id: "submit", class: :form__btn %>
          </div>
        <% end %>
      <% end %>
      <ul data-baseball=<%= params[:id] %> class="comments_lists">
        <% if @baseball.comments %>
          <% @baseball.comments.each do |comment| %>
          <div id="list"></div>
          <div id="user"></div>
          <li>
            <%= comment.text %>
            <%= link_to comment.user.nickname, user_path(@baseball.user_id), class: :comment_user %>
            <span data-comment=<%= comment.id %> class="comments_list">削除</span>
          </li>
          <% end %>
        <% end %>
      </ul>
     </div>
   </div>
  </div>
</main>