<main class="main">
  <div class="inner">
    <div class="baseball__wraper">
      <p class="baseball__headding">
        <%= @baseball.title%>
      </p>
      <% if user_signed_in? && current_user.id == @baseball.user_id %>
        <div class="baseball__manage">
          <%= link_to "編集する", edit_baseball_path(@baseball.id), class: :baseball__btn %>
          <%= link_to "削除する", baseball_path(@baseball.id), method: :delete, class: :baseball__btn %>
        </div>
      <% end %>

      <div class="baseball__image">
        <%= image_tag @baseball.image %>
      </div>
      <div class="baseball__body">
        <div class="baseball__detail">
          <p class="detail__title"><p>
          <p class="detail__message">
            <%= @baseball.content%>
          </p>
        </div>
        <div class="baseball__detail">
          <p class="detail__title"><p>
          <p class="detail__message">
            <%= @baseball.like_team_id %>
          </p>
        </div>
      </div>
     <div class="baseball__comments">
      <% if user_signed_in? %>
        <%= form_with model: [@baseball, @comment], local: true do |f| %>
          <div class="field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_field :text %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn %>
          </div>
        <% end %>
      <% end %>
      <ul class="comments_lists">
        <% if @comments %>
          <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= comment.text %>
            <%= link_to comment.user.nickname, user_path(@baseball.user_id), class: :comment_user %>
          </li>
          <% end %>
        <% end %>
      </ul>
     </div>
   </div>
  </div>
</main>