<h1 class="dm">ここは参加者の方でメッセージのやり取りができます。</h1>

<h4 class="dm1">参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>", class="dm2"><%= e.user.nickname %>さん</a></strong>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <strong class="dm3"><%= m.message %></strong>
    <strong><a href="/users/<%= m.user_id %>", class="dm3"><%= m.user.nickname %>さん<a>
    <hr>
  <% end %>
<% else %>
  <h3>メッセージはまだありません</h3>
<% end %>

<%= form_with model: @message, local: true do |f| %>
 <div class="field">
  <%= f.text_field :message, placeholder: "メッセージを入力してください", size: 70 %>
  <%= f.hidden_field :room_id, value: @room.id %>
 </div>  
  <br>
  <div class="actions">
  <%= f.submit "投稿する", class: :form__btn %>
  </div>
<% end %>
